<form [formGroup]="levelForm">
    <div class="form-group row">
        <div class="col-sm-6">
            <label for="levelName" class="col-form-label">Level Name</label>
            <input type="text" class="form-control" id="levelName" formControlName="levelName"
                placeholder="Level Name">
        </div>
        <div class="col-sm-6">
            <label for="levelDescription" class="col-form-label">Level Description</label>
            <input type="text" class="form-control" id="levelDescription" formControlName="levelDescription"
                placeholder="Level Description">
        </div>
    </div>
    <div *ngIf="add">
        <button mat-raised-button (click)="addLevel(levelForm)">Add Level</button>
    </div>
</form>