@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900@display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
nav
{
    height: 80px;
    background: #008cff;
}
nav .heads
{
    left: 3%;
    display: inline-block;
    line-height: 80px;
    position: relative;
    color: #fff;
    font-size: 32px;
    cursor: pointer;
}
nav ul
{
    float: right;
    margin-right: 25px;
}
nav ul li{
    display: inline-block;
    /* line-height: 80px; */
    margin: 14px 15px;
    
}
nav ul li .button
{   
    color: #008cff;
    background-color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    padding: 12px 28px;
    border-radius: 10px;
    border: 2px solid #fff; 
    cursor: pointer;
    transition-duration: 1s;
}
nav ul li .button:hover {
    color: #fff;
    box-shadow: inset 150px 0 0 0 #008cff;
}
nav ul li a
{
    text-decoration: none;
    position: relative;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}
nav ul li a:before
{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}
nav ul li a:hover:before
{
    transform: scaleX(1);
    transform-origin: left;
}
label #btn,
label #cancel
{
    color: #fff;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check
{
    display: none;
}
@media (max-width: 1000px)
{
    nav .heads
    {  
       text-transform: uppercase;
       left: 3%;
       display: inline-block;
       line-height: 80px;
       position: relative;
       color: #fff;
       font-size: 32px;
       
    }  
    nav ul li a
    {
        font-size: 16px;
    }
    nav ul li .button
    {   
        color: #008cff;
        background-color: #fff;
        text-transform: uppercase;
        font-size: 14px;
        /* padding: 12px 20px; */
        border-radius: 30px;
        border: 2px solid #fff; 
        cursor: pointer;
        transition-duration: 1s;
    }
}
@media (max-width: 875px) 
{   
    nv .heads
    {
        text-align: center;
    }
    label #btn
    {
        display: block;
        float: right;
    }
    ul
    {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #008cff;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 2;
    }
    nav ul li
    {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a
    {
        color: #fff;
        font-size: 20px;
    }
    #check:checked ~ ul
    {
        left: 0;
    }
    #check:checked ~ label #btn
    {
        display: none;
    }
    #check:checked ~ label #cancel
    {
        display: block;
    }
}
@media (max-width: 500px) 
{
    label #btn,
    label #cancel
    {
        color: #fff;
        font-size: 25px;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }
    nav .heads
    {  
       text-transform: uppercase;
       left: 3%;
       display: inline-block;
       line-height: 80px;
       position: relative;
       color: #fff;
       font-size: 28px;
       
    }
    label #btn
    {
        display: block;
    }
    ul
    {
        position: fixed;
        width: 100%;
        height: 100vh;
        /* background: white; */
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 2;
    }
    nav ul li
    {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a
    {
        /* color: #008cff; */
        font-size: 20px;
    }
    #check:checked ~ ul
    {
        left: 0;
    }
    #check:checked ~ label #btn
    {
        display: none;
    }
    #check:checked ~ label #cancel
    {
        display: block;
    }
}