<div style="overflow: auto;height: 92vh;">
    <div class="container"
        style="border-radius:10px;background-color: #42A5F5; padding: 20px; margin-top: 30px; margin-bottom: 30px;">
        <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">
                View Patient Details <i class="fa fa-angle-down"></i>
            </button>
        </p>
        <div class="collapse" id="collapseExample">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" [value]="name" readonly>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="abha_id">Abha ID</label>
                        <input type="text" class="form-control" id="abha_id" [value]="reports[0].patient.abhaId"
                            readonly>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="gender">Gender</label>
                        <input type="text" class="form-control" id="gender" [value]="reports[0].patient.gender"
                            readonly>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="mobileNumber">Mobile Number</label>
                        <input type="text" class="form-control" id="mobileNumber" [value]="reports[0].patient.mobile_no"
                            readonly>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="information_caregiver_name">Information Caregiver</label>
                        <input type="text" class="form-control" id="information_caregiver_name"
                            [value]="reports[0].patient.information_caregiver_name" readonly>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="relationship_with_patient">Relationship With Patient</label>
                        <input type="text" class="form-control" id="relationship_with_patient"
                            [value]="reports[0].patient.relationship_with_patient" readonly>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="dob">Date Of Birth</label>
                        <input type="text" class="form-control" id="dob" [value]="reports[0].patient.dob" readonly>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="socioeconomic_status">Socioeconomic Status</label>
                        <input type="text" class="form-control" id="socioeconomic_status"
                            [value]="reports[0].patient.socioeconomic_status" readonly>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="education">Education</label>
                        <input type="text" class="form-control" id="education"
                            [value]="reports[0].patient.education" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="address_line_1">Address</label>
                    <input type="text" class="form-control" id="address_line_1" [value]="reports[0].patient.address_line_1" readonly>
                  </div>
                  <div class="form-group">
                    <label for="address_line_2">Address 2</label>
                    <input type="text" class="form-control" id="address_line_2" [value]="reports[0].patient.address_line_2" readonly>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="district">Distict</label>
                        <input type="text" class="form-control" id="district" [value]="reports[0].patient.district" readonly>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="state">State</label>
                        <input type="text" class="form-control" id="state"
                            [value]="reports[0].patient.state" readonly>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="pin_code">Pincode</label>
                        <input type="text" class="form-control" id="pin_code"
                            [value]="reports[0].patient.pin_code" readonly>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="container"
        style="border-radius:10px;background-color: #42A5F5; padding: 20px; margin-top: 30px; margin-bottom: 30px;">
        <form>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>Patient Name:</label>
                </div>
                <div class="form-group col-md-4">
                    <label>Compliant:</label>
                </div>
                <div class="form-group col-md-4">
                    <label>Date:</label>
                </div>
                <div class="form-group col-md-4">
                    <label>Diagnosis Type:</label>
                </div>
                <div class="form-group col-md-4">
                    <label>Doctor Name: </label>
                </div>
                <div class="form-group col-md-4">
                    <label>Examination: </label>
                </div>
                <div class="form-group col-md-4">
                    <label>Hospital Name:</label>
                </div>
                <div class="form-group col-md-4">
                    <label>ICD Description:</label>
                </div>
                <div class="form-group col-md-4">
                    <label>Follow Up:</label>
                </div>
                <div class="form-group col-md-4">
                    <label>Dosage:</label>
                </div>
                <div class="form-group col-md-4">
                    <label>ICD 10 Code: </label>
                </div>
                <div class="form-group col-md-4">
                    <label>Referred to:</label>
                </div>
                <div class="form-group col-md-4">
                    <label>Remarks:</label>
                </div>
                <div class="form-group col-md-4">
                    <label>Improvement Type: </label>
                </div>
                <div class="form-group col-md-4">
                    <label>Dosage Time:</label>
                </div>
                <div class="form-group col-md-4">
                    <label>Illness Summary: </label>
                </div>
                <div class="form-group col-md-4">
                    <label>Medicine Name: </label>
                </div>
                <div class="form-group col-md-4">
                    <label>Treatment Instructions: </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" routerLink="/doctor/search-patient">Back</button>
            <button type="submit" class="btn btn-primary float-right">Submit</button>
        </form>
    </div>
</div>