<div style="overflow: auto;height: 92vh;">
    <div class="container"
        style="border-radius:10px;background-color: #42A5F5; padding: 20px; margin-top: 30px; margin-bottom: 30px;">
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Password</label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress">Address</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
            </div>
            <div class="form-group">
                <label for="inputAddress2">Address 2</label>
                <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCity">City</label>
                    <input type="text" class="form-control" id="inputCity">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputState">State</label>
                    <select id="inputState" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputZip">Zip</label>
                    <input type="text" class="form-control" id="inputZip">
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        Check me out
                    </label>
                </div>
            </div>
        </form>
    </div>
    <div class="container"
        style="border-radius:10px;background-color: #42A5F5; padding: 20px; margin-top: 30px; margin-bottom: 30px;">
        <form>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>Patient Name:</label>
                </div>
                <div class="form-group col-md-4">
                    <label>Compliant:</label>
                </div>
                <div class="form-group col-md-4">
                    <label>Date:</label>
                </div>
                <div class="form-group col-md-4">
                    <label>Diagnosis Type:</label>
                </div>
                <div class="form-group col-md-4">
                    <label>Doctor Name: </label>
                </div>
                <div class="form-group col-md-4">
                    <label>Examination: </label>
                </div>
                <div class="form-group col-md-4">
                    <label>Hospital Name:</label>
                </div>
                <div class="form-group col-md-4">
                    <label>ICD Description:</label>
                </div>
                <div class="form-group col-md-4">
                    <label>Follow Up:</label>
                </div>
                <div class="form-group col-md-4">
                    <label>Dosage:</label>
                </div>
                <div class="form-group col-md-4">
                    <label>ICD 10 Code: </label>
                </div>
                <div class="form-group col-md-4">
                    <label>Referred to:</label>
                </div>
                <div class="form-group col-md-4">
                    <label>Remarks:</label>
                </div>
                <div class="form-group col-md-4">
                    <label>Improvement Type: </label>
                </div>
                <div class="form-group col-md-4">
                    <label>Dosage Time:</label>
                </div>
                <div class="form-group col-md-4">
                    <label>Illness Summary: </label>
                </div>
                <div class="form-group col-md-4">
                    <label>Medicine Name: </label>
                </div>
                <div class="form-group col-md-4">
                    <label>Treatment Instructions: </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" routerLink="/doctor/search-patient">Back</button>
            <button type="submit" class="btn btn-primary float-right">Submit</button>
        </form>
    </div>
</div>