<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>

<section>
  <div class="imgBx">
    <img src="https://cdn.sanity.io/images/0vv8moc6/nutrioutlook/f7cf24f2cecf873a10733a8ab148ddb2f328ec03-750x585.jpg/brain_9.jpg?w=1500&fit=max&auto=format" alt="Sample image">
  </div>
    <div class="contentBx">
      <div class="formBx">
        <h2>Login</h2>
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" ngNativeValidate>
          <div class="inputBx">
            <span>User ID</span>
            <input type="number" ngModel id="userId" name="userId" required/>
          </div>
          <div class="inputBx">
            <span>Password</span>
            <input type="password" class="form-control" ngModel name="userPassword" id="userPassword" required/>
          </div>
          <div class="inputBx">
            <input type="submit" value="Log in">
          </div>
      </form>
    </div>
  </div>
</section>