<div class="container">
    <div *ngIf="tableName=='DOCTOR'">
        <form #doctorForm="ngForm" (ngSubmit)="searchDoctor(doctorForm)">
            <div class="row">
                <div class="col-4">
                    <label>Enter {{tableName}} Id here: </label>
                </div>
                <div class="col-6">
                    <input type="text" ngModel class="form-control" name="doctorId" id="doctorId" placeholder="{{tableName}} ID" required>
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-primary mb-2">Search</button>
                </div>
            </div>
        </form>
    </div>
    <div *ngIf="tableName=='ROLE'">
        <form #roleForm>
            <div class="row">
                <div class="col-4">
                    <label class="">Enter {{tableName}} Id here: </label>
                </div>
                <div class="col-6">
                    <input type="text" ngModel class="form-control" id="roleId" placeholder="{{tableName}} ID">
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-primary mb-2" (click)="searchRole()">Search</button>
                </div>
            </div>
        </form>
    </div>
    <div *ngIf="tableName=='LEVEL'">
        <form #levelForm>
            <div class="row">
                <div class="col-4">
                    <label class="">Enter {{tableName}} Id here: </label>
                </div>
                <div class="col-6">
                    <input type="text" ngModel class="form-control" id="roleId" placeholder="{{tableName}} ID">
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-primary mb-2" (click)="searchLevel()">Search</button>
                </div>
            </div>
        </form>
    </div>
    <div *ngIf="tableName=='HOSPITAL'">
        <form #hospitalForm>
            <div class="row">
                <div class="col-4">
                    <label class="">Enter {{tableName}} Id here: </label>
                </div>
                <div class="col-6">
                    <input type="text" ngModel class="form-control" id="roleId" placeholder="{{tableName}} ID">
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-primary mb-2" (click)="searchHospital()">Search</button>
                </div>
            </div>
        </form>
    </div>
    <div *ngIf="tableName=='ADMIN'">
        <form #adminForm>
            <div class="row">
                <div class="col-4">
                    <label class="">Enter {{tableName}} Id here: </label>
                </div>
                <div class="col-6">
                    <input type="text" ngModel class="form-control" id="roleId" placeholder="{{tableName}} ID">
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-primary mb-2" (click)="searchAdmin()">Search</button>
                </div>
            </div>
        </form>
    </div>
    <div *ngIf="tableName=='PROGRAM_MANAGER'">
        <form #pmForm>
            <div class="row">
                <div class="col-4">
                    <label class="">Enter {{tableName}} Id here: </label>
                </div>
                <div class="col-6">
                    <input type="text" ngModel class="form-control" id="roleId" placeholder="{{tableName}} ID">
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-primary mb-2" (click)="searchPM()">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>