<div>
    <div class="container" style="background-color: #42A5F5; padding: 20px; margin-top: 30px;">
        <form>
            <div class="row">
                <div class="col-4">
                    <label>Select Table to perform this operation on: </label>
                </div>
                <div class="col-5">
                    <select class="form-control" (change)="onTableChange($event)">
                        <option value="" selected>Select Option</option>
                        <option value="ROLE">Role</option>
                        <option value="LEVEL">Level</option>
                        <option value="DOCTOR">Doctor</option>
                        <option value="HOSPITAL">Hospital</option>
                        <option value="ADMIN">Admin</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div>
        <!-- <div *ngIf="addEntry" class="container" style="margin-top: 3vh;">
            <h4>ADD {{tableName}}</h4>
            <div class="scrollbar-light-blue"
                style="background-color: #42A5F5;padding: 20px;height:60vh;overflow: auto">
                <app-add tableName="{{tableName}}"></app-add>
            </div>
        </div>
        <div *ngIf="updateEntry" class="container" style="margin-top: 3vh;">
            <h4>UPDATE {{tableName}}</h4>
            <div class="scrollbar-light-blue"
                style="background-color: #42A5F5;padding: 20px;overflow: auto">
                <app-update tableName="{{tableName}}"></app-update>
            </div>
        </div>
        <div *ngIf="deleteEntry" class="container" style="margin-top: 3vh;">
            <h4>DELETE {{tableName}}</h4>
            <div class="scrollbar-light-blue"a
                style="background-color: #42A5F5;padding: 20px;overflow: auto">
                <app-delete tableName="{{tableName}}"></app-delete>
            </div>
        </div> -->
    </div>
</div>
<div *ngIf="tableName=='LEVEL'" class="container">
    <table mat-table [dataSource]="dataSourceLevel" matSort>

        <ng-container matColumnDef="levelName" mat-sort-header>
            <th mat-header-cell *matHeaderCellDef> Level Name </th>
            <td mat-cell *matCellDef="let element"> {{element.levelName}} </td>
        </ng-container>

        <ng-container matColumnDef="levelDescription" mat-sort-header>
            <th mat-header-cell *matHeaderCellDef> Level Description </th>
            <td mat-cell *matCellDef="let element"> {{element.levelDescription}} </td>
        </ng-container>

        <ng-container matColumnDef="update">
            <th mat-header-cell *matHeaderCellDef> Update </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="accent" (click)="redirectToUpdate(element.id)">
                    <mat-icon class="mat-18">system_update</mat-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="warn" (click)="redirectToDelete(element.id)">
                    <mat-icon class="mat-18">delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="levelColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: levelColumns;"></tr>
    </table>
</div>
<div *ngIf="tableName=='ROLE'" class="container">
    <table mat-table [dataSource]="dataSourceRole" matSort>

        <ng-container matColumnDef="roleName" mat-sort-header>
            <th mat-header-cell *matHeaderCellDef> Role Name </th>
            <td mat-cell *matCellDef="let element"> {{element.roleName}} </td>
        </ng-container>

        <ng-container matColumnDef="roleDescription" mat-sort-header>
            <th mat-header-cell *matHeaderCellDef> Role Description </th>
            <td mat-cell *matCellDef="let element"> {{element.roleDescription}} </td>
        </ng-container>

        <ng-container matColumnDef="update">
            <th mat-header-cell *matHeaderCellDef> Update </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="accent" (click)="redirectToUpdate(element.id)">
                    <mat-icon class="mat-18">system_update</mat-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="warn" (click)="redirectToDelete(element.id)">
                    <mat-icon class="mat-18">delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="roleColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: roleColumns;"></tr>
    </table>
</div>
<div *ngIf="tableName=='DOCTOR'" class="container">
    <table mat-table [dataSource]="dataSourceDoctor" matSort>

        <ng-container matColumnDef="doctorName" mat-sort-header>
            <th mat-header-cell *matHeaderCellDef> Doctor Name </th>
            <td mat-cell *matCellDef="let element"> {{element.firstName}} {{element.lastName}} </td>
        </ng-container>

        <ng-container matColumnDef="hospitalName" mat-sort-header>
            <th mat-header-cell *matHeaderCellDef> Doctor's Hospital Name </th>
            <td mat-cell *matCellDef="let element"> {{element.hospital.hospitalName}} </td>
        </ng-container>

        <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef> Details </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="primary" (click)="redirectToDetails(element.id)">
                  <mat-icon class="mat-18">reorder</mat-icon>
              </button>
            </td>
          </ng-container>

        <ng-container matColumnDef="update">
            <th mat-header-cell *matHeaderCellDef> Update </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="accent" (click)="redirectToUpdate(element.id)">
                    <mat-icon class="mat-18">system_update</mat-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="warn" (click)="redirectToDelete(element.id)">
                    <mat-icon class="mat-18">delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="doctorColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: doctorColumns;"></tr>
    </table>
</div>
<div *ngIf="tableName=='HOSPITAL'" class="container">
    <table mat-table [dataSource]="dataSourceHospital" matSort>

        <ng-container matColumnDef="hospitalName" mat-sort-header>
            <th mat-header-cell *matHeaderCellDef> Hospital Name </th>
            <td mat-cell *matCellDef="let element"> {{element.hospitalName}} </td>
        </ng-container>

        <ng-container matColumnDef="city" mat-sort-header>
            <th mat-header-cell *matHeaderCellDef> City </th>
            <td mat-cell *matCellDef="let element"> {{element.city}} </td>
        </ng-container>

        <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef> Details </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="primary" (click)="redirectToDetails(element.id)">
                  <mat-icon class="mat-18">reorder</mat-icon>
              </button>
            </td>
          </ng-container>

        <ng-container matColumnDef="update">
            <th mat-header-cell *matHeaderCellDef> Update </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="accent" (click)="redirectToUpdate(element.id)">
                    <mat-icon class="mat-18">system_update</mat-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="warn" (click)="redirectToDelete(element.id)">
                    <mat-icon class="mat-18">delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="hospitalColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: hospitalColumns;"></tr>
    </table>
</div>

<div *ngIf="tableName=='ADMIN'" class="container">
    <table mat-table [dataSource]="dataSourceAdmin" matSort>

        <ng-container matColumnDef="adminName" mat-sort-header>
            <th mat-header-cell *matHeaderCellDef> Admin Name </th>
            <td mat-cell *matCellDef="let element"> {{element.firstName}} {{element.lastName}} </td>
        </ng-container>

        <ng-container matColumnDef="role" mat-sort-header>
            <th mat-header-cell *matHeaderCellDef> Role Name </th>
            <td mat-cell *matCellDef="let element"> {{element.admin.role.roleName}} </td>
        </ng-container>

        <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef> Details </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="primary" (click)="redirectToDetails(element.id)">
                  <mat-icon class="mat-18">reorder</mat-icon>
              </button>
            </td>
          </ng-container>

        <ng-container matColumnDef="update">
            <th mat-header-cell *matHeaderCellDef> Update </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="accent" (click)="redirectToUpdate(element.id)">
                    <mat-icon class="mat-18">system_update</mat-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="warn" (click)="redirectToDelete(element.id)">
                    <mat-icon class="mat-18">delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="adminColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: adminColumns;"></tr>
    </table>
</div>
