<div class="container" style="background-color: rgb(145, 145, 255); padding: 20px; margin-top: 30px;">
    <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputAbhaId">ABHA ID</label>
        <input type="text" class="form-control" id="inputAbhaId" placeholder="ABHA ID" required>
      </div>
      <div class="form-group col-md-6">
        <label for="inputName">Name</label>
        <input type="text" class="form-control" id="inputName" placeholder="Name" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputDOB">DOB</label>
        <input type="date" class="form-control" id="inputDOB" placeholder="DOB" required>
      </div>
      <div class="form-group col-md-4">
        <label for="inputGender">Gender</label>
        <select class="custom-select" id="inputGender">
          <option selected>Choose...</option>
          <option value="1">Male</option>
          <option value="2">Female</option>
          <option value="3">Other</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="inputSocioeconomicStatus">Socio-economic Status</label>
        <select class="custom-select" id="inputSocioeconomicStatus">
          <option selected>Choose...</option>
          <option value="1">Below Poverty Line</option>
          <option value="2">Above Poverty Line</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="inputEducation">Education</label>
      <input type="text" class="form-control" id="inputEducation" placeholder="Education">
    </div>
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="Apartment, floor">
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputMobile">Mobile</label>
        <input type="number" class="form-control" id="inputMobile" required>
      </div>
      <div class="form-group col-md-4">
        <label for="inputCaregiver">Information Caregiver Name</label>
        <input type="text" class="form-control" id="inputCaregiver">
      </div>
      <div class="form-group col-md-4">
        <label for="inputRelationship">Relationship with patient</label>
        <input type="text" class="form-control" id="inputRelationship">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
  </div>