<button class="close" mat-button mat-dialog-close>X</button>
<h1 mat-dialog-title>Hospital</h1>
<form *ngIf="add" #hospitalForm="ngForm">
    <div class="row">
        <div class="form-group col-sm-8">
            <label for="hospitalName" class="col-form-label">Hospital Name</label>
            <input type="text" class="form-control" id="hospitalName" ngModel name="hospitalName"
                placeholder="Hospital Name">
        </div>
        <div class="col-sm-4">
            <label for="level" class="col-form-label">Select Level:</label>
            <select class="form-control" id="level" ngModel name="levelName">
                <option value="phc">Primary Healthcare Center</option>
                <option value="shc">Secondary Healthcare Center</option>
                <option value="thc">Tertiary Healthcare Center</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-sm-3">
            <label for="city" class="col-form-label">City</label>
            <input type="text" class="form-control" id="city" ngModel name="city" placeholder="City">
        </div>
        <div class="form-group col-sm-3">
            <label for="district" class="col-form-label">Distict</label>
            <input type="text" class="form-control" id="district" ngModel name="district" placeholder="District">
        </div>
        <div class="form-group col-sm-3">
            <label for="state" class="col-form-label">State</label>
            <input type="text" class="form-control" id="state" ngModel name="state" placeholder="State">
        </div>
        <div class="form-group col-sm-3">
            <label for="pincode" class="col-form-label">Pincode</label>
            <input type="text" class="form-control" id="pincode" ngModel name="pincode" placeholder="Pincode">
        </div>
    </div>
    <div>
        <button mat-raised-button (click)="addHospital(hospitalForm)" mat-dialog-close>Add Hospital</button>
    </div>
</form>

<form *ngIf="update" #hospitalForm="ngForm">
    <div class="form-row">
        <div class="form-group col-sm-8">
            <label for="hospitalName" class="col-form-label">Hospital Name</label>
            <input type="text" class="form-control" id="hospitalName" [(ngModel)]="hospitalDetail.hospitalName"
                name="hospitalName">
        </div>
        <div class="form-group col-sm-4">
            <label for="level" class="col-form-label">Level</label>
            <select class="form-control" id="level" [(ngModel)]="hospitalDetail.level.levelName" name="levelName">
                <option value="phc">Primary Healthcare Center</option>
                <option value="shc">Secondary Healthcare Center</option>
                <option value="thc">Tertiary Healthcare Center</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-sm-3">
            <label for="city" class="col-form-label">City</label>
            <input type="text" class="form-control" id="city" [(ngModel)]="hospitalDetail.city" name="city">
        </div>
        <div class="form-group col-sm-3">
            <label for="district" class="col-form-label">Distict</label>
            <input type="text" class="form-control" id="district" [(ngModel)]="hospitalDetail.district" name="district"
            >
        </div>
        <div class="form-group col-sm-3">
            <label for="state" class="col-form-label">State</label>
            <input type="text" class="form-control" id="state" [(ngModel)]="hospitalDetail.state" name="state">
        </div>
        <div class="form-group col-sm-3">
            <label for="pincode" class="col-form-label">Pincode</label>
            <input type="text" class="form-control" id="pincode" [(ngModel)]="hospitalDetail.pincode" name="pincode">
        </div>
    </div>
    <div>
        <button mat-raised-button (click)="updateHospital(hospitalForm)" mat-dialog-close>Update Hospital</button>
    </div>
</form>

<form *ngIf="!add && !update" #hospitalForm="ngForm">
    <div class="form-row">
        <div class="form-group col-sm-8">
            <label for="hospitalName" class="col-form-label">Hospital Name</label>
            <input type="text" class="form-control" id="hospitalName" [(ngModel)]="hospitalDetail.hospitalName"
                name="hospitalName" readonly>
        </div>
        <div class="form-group col-sm-4">
            <label for="level" class="col-form-label">Level</label>
            <input type="text" class="form-control" id="levelName" [(ngModel)]="levelName"
                name="levelName" readonly>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-sm-3">
            <label for="city" class="col-form-label">City</label>
            <input type="text" class="form-control" id="city" [(ngModel)]="hospitalDetail.city" name="city" readonly>
        </div>
        <div class="form-group col-sm-3">
            <label for="district" class="col-form-label">Distict</label>
            <input type="text" class="form-control" id="district" [(ngModel)]="hospitalDetail.district" name="district"
                readonly>
        </div>
        <div class="form-group col-sm-3">
            <label for="state" class="col-form-label">State</label>
            <input type="text" class="form-control" id="state" [(ngModel)]="hospitalDetail.state" name="state" readonly>
        </div>
        <div class="form-group col-sm-3">
            <label for="pincode" class="col-form-label">Pincode</label>
            <input type="text" class="form-control" id="pincode" [(ngModel)]="hospitalDetail.pincode" name="pincode"
                readonly>
        </div>
    </div>
</form>