.row-header {
    margin: 0px auto;
    padding: 0px 0px; }
  
.row-content {
margin: 0px auto;
padding: 50px 0px;
border-bottom: 1px ridge;
min-height: 400px; }

.footer {
background-color: #E1F5FE;
margin: 0px auto;
padding: 20px 0px; }

.jumbotron {
margin: 0px auto;
padding: 70px 30px;
background: #a4e2ff;
color: floralwhite; }

address {
font-size: 80%;
margin: 0px;
color: #0f0f0f; }

body {
padding: 50px 0px 0px 0px;
z-index: 0; }

.navbar-dark {
background-color: #BBDEFB; }

.tab-content {
border-left: 1px solid #ddd;
border-right: 1px solid #ddd;
border-bottom: 1px solid #ddd;
padding: 10px; }

.modal:before{
align-self: center;
vertical-align: middle;
}

.modal-header {
background: #1565C0;
color: black;
 }

.modal-header .close {
    color: floralwhite; }

.modal-title {
color: floralwhite; }

.modal-body {
background: #B3E5FC;
color: black; }